# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.idea
gradlew
gradlew.bat

app/build
/gradle/wrapper/gradle-wrapper.properties
/gradle/wrapper/gradle-wrapper.jar
